.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.no-pad {
    padding-right: 0px;
    padding-left: 0px;
}
.no-pad-right {
    padding-right: 0px;
}

.img-background {
    background-image: url(../img/image-top-xl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.rectangle-1 {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-2 {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.titre-1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 70px;
    text-transform: uppercase;
}

.titre-3 {
    font-size: 38px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.background {
    background-color: #00cbcb;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}

.titre-2 {
    color: #004040;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 15px;
}

.taille {
    background-color: #003F4D;
    width: 70px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barre {
    background-color: #00687F;
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chrono {
    color: white;
    font-size: 7vw;
}

.lettre{
    color: #dadada;
    font-size: 12vw;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 30px;
    right: 30px;
}
.seconde {
    float: left;
    margin-left: 420px;
}

.portfolio {
    width: 100%;
    font-family: 'Syncopate', sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: #dedede;
    background-color: #2b3348;
}

.presentation {
    background-color: #dadada;
    height: 100vh;
    padding-bottom: 40px;
}

.rectangle {
    width: 80%;
    height: 40vh;
    border: 10px solid #7f7f7a;
}
.lettre-pad {
    padding-right: 52px;
}

.marg-top {
    margin-top: 50px;
}

.section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.menu {
    width: 100%;
    height: 20vh;
    background-color: #003F4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
}

.carre {
    width: 5px;
    height: 5px;
    background-color: white;
}

.item-1 {
    margin-left: 40px;
}

.item-4 {
    margin-right: 40px;
}

.alignement {
    display: flex;
    background-color: #00D1FF;
}

.section-2 {
    background-color: #00687F;
    height: 80vh;
}

.conteneur {
    display: flex;
    flex-direction: column;
}

.bio {
    background-color: #00D1FF;
    height: 70vh;
}

.img-1 {
    background-image: url(../img/profil.jpg);
    width: 100%;
    height: 60vh;
    background-size:cover;
    background-position: center;
    
}

.img-1 {
    margin-top: 35px;
    border: 2px solid #00687F;
}

.text-presentation {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 45px;
}

.btn-contact {
    margin-top: 90px;
    text-transform: uppercase;
    background-color: #013F4E;
    font-family: 'Open Sans' , sans-serif;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid #00687F;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-contact:hover {
    background-color: #00687F;
}

.auteur {
    background-image: url(../img/thomas.jpg);
    height: 100px;
    width: 270px;
    background-size: cover;
    background-position: center;
}

.lien {
    color: white;
    text-decoration: none;
}
.lien:hover {
    color: white;
    text-decoration: none;
}

.da-thumbs {
    height: 0;
}

.da-thumbs li {
    margin: 25px;
}

.da-thumbs li{
    background-color: #7f7f7a; 
}

.fin {
    height: 200px;
    background-color: red;
}
