.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.no-pad {
    padding-right: 0px;
    padding-left: 0px;
}

.no-pad-right {
    padding-right: 0px;
}

.img-background {
    background-image: url(../img/image-top-xl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}

.rectangle-1 {
    width: 100%;
    height: 700px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-2 {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.titre-1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 70px;
    text-transform: uppercase;
}

.titre-3 {
    font-size: 38px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.background {
    background-color: #00cbcb;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.titre-2 {
    color: #004040;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 15px;
}

.taille {
    background-color: #007f7f;
    width: 70%;
    height: 190px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barre {
    background-color: #004040;
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chrono {
    color: white;
    font-size: 14vw;
}

.lettre{
    color: #dadada;
    font-size: 12vw;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 30px;
    right: 30px;
}
.seconde {
    float: left;
    margin-left: 420px;
}

.portfolio {
    width: 100%;
    font-family: 'Syncopate', sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: #dedede;
    background-color: #2b3348;
}

.presentation {
    background-color: #dadada;
    height: auto;
    padding-bottom: 40px;
}

.rectangle {
    width: 80%;
    height: 350px;
    border: 10px solid #7f7f7a;
}
.lettre-pad {
    padding-right: 52px;
}

.marg-top {
    margin-top: 50px;
}